body {
    background: #00abe5;
}

h1,
h2 {
    color: #393230;
}

form {
    position: relative;
    top: 150px;
}
.banner{
    
}

.AzulSENAI {
    color: #83c7e5;
}

.CinzaFirjan {
    color: #393230;
}

.AzulSENAIII {
    color: #00abe5;
}

.CinzaFirjanII {
    color: #9c9897;
}

.ÍndigoSENAI {
    color: #1d7da2;
}

.AzulFirjan {
    color: #003bd1;
}